PROJECT_NAME=joon-sandbox
REGION_NAME=asia-southeast1
# name of the client id for cloud run to verify the oauth token against.
OAUTH_CLIENT_ID="Your client id"
# name of the cloud run image & service to be deployed
IMAGE_NAME="Your image name"
OAUTH_SAMPLE_TOKEN="Your token after signing in with google"
# cloud run
LOOKER_CLIENT_ID="Your client id"
LOOKER_CLIENT_SECRET="Your client secret"
LOOKER_API_URL="Your looker api url"
# cloudsql
CLOUD_SQL_HOST="Your cloud sql host"
CLOUD_SQL_DATABASE="Your cloud sql database"
CLOUD_SQL_PASSWORD="Your cloud sql password"
CLOUD_SQL_USER="Your cloud sql user"