.cache
.vscode
temp_db.json
.env
.eslintcache
explore-assistant-extension/cloud-function/terraform/.terraform
explore-assistant-extension/cloud-function/terraform/terraform.tfstate
explore-assistant-extension/cloud-function/terraform/terraform.tfstate.backup
explore-assistant-extension/cloud-function/terraform/.terraform.lock.hcl
explore-assistant-extension/dist
explore-assistant-extension/node_modules
explore-assistant-api/explore-assistant
explore-assistant-api/explore-assistant/
explore-assistant-api/terraform/.terraform
explore-assistant-api/terraform/terraform.tfstate
explore-assistant-api/terraform/terraform.tfstate.backup
explore-assistant-api/terraform/.terraform.lock.hcl