.cache
.vscode
temp_db.json
.env
.eslintcache
explore-assistant-extension/extension-cloud-function-deployment/cloud-function/terraform/.terraform
explore-assistant-extension/extension-cloud-function-deployment/cloud-function/terraform/terraform.tfstate
explore-assistant-extension/extension-cloud-function-deployment/cloud-function/terraform/terraform.tfstate.backup
explore-assistant-extension/extension-cloud-function-deployment/cloud-function/terraform/.terraform.lock.hcl
explore-assistant-extension/extension-cloud-function-deployment/node_modules
explore-assistant-extension/extension-bigquery-deployment/bigquery/terraform/.terraform
explore-assistant-extension/extension-bigquery-deployment/bigquery/terraform/terraform.tfstate
explore-assistant-extension/extension-bigquery-deployment/bigquery/terraform/terraform.tfstate.backup
explore-assistant-extension/extension-bigquery-deployment/bigquery/terraform/.terraform.lock.hcl
explore-assistant-extension/extension-bigquery-deployment/node_modules
explore-assistant-api/explore-assistant
explore-assistant-api/explore-assistant/
explore-assistant-api/terraform/.terraform
explore-assistant-api/terraform/terraform.tfstate
explore-assistant-api/terraform/terraform.tfstate.backup
explore-assistant-api/terraform/.terraform.lock.hcl