deployment_region = "asia-southeast1"
project_id = "joon-sandbox"
dataset_id_name = "explore_assistant"
use_bigquery_backend=false
use_cloud_function_backend=false
use_cloud_run_backend=true
cloud_run_service_name="explore-assistant-endpoint-ken"
image="asia-southeast1-docker.pkg.dev/joon-sandbox/looker-explore-assistant/explore-assistant-api-ken:latest"
