.submit-btn {
  padding: 8px 16px;
  background-color: #4c7aaf; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #204065;
}

.cancel-btn {
  padding: 8px 16px;
  background-color: #848484; /* Red */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-btn:hover {
  background-color: #d32f2f;
}

.feedback-form {
  margin-top: 10px;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}

.feedback-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: vertical;
}

.feedback-tooltip {
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}